APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
APP_SECRET_KEY=change-me
APP_COOKIE_SECURE=false
APP_SESSION_COOKIE_NAME=dlyt_session
APP_SESSION_TTL_HOURS=24

APP_DB_PATH=./data/app.db
APP_DOWNLOADS_ROOT=./downloads
APP_WORKER_CONCURRENCY=1
APP_TRANSFER_RETRY_SECONDS=60
APP_BOOTSTRAP_ADMIN_ENABLED=true
APP_BOOTSTRAP_ADMIN_USERNAME=admin
APP_BOOTSTRAP_ADMIN_PASSWORD=admin1234

APP_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://pc-server:5173"]
